.modal {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
}
.white_overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, .7);
}
mat-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
