<mat-card class="modal">
    <h4> Edit contact </h4>
  <mat-icon (click)="clearModal()">clear</mat-icon>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Name" name="name" [(ngModel)]="personName">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" name="lastName" [(ngModel)]="personLastName">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Tel. Number" name="number" [(ngModel)]="personNumber">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="editContact()" >Edit</button>
    </form>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="isFriend">Friends</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isFamily">Family</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isWork">Work</mat-checkbox>
    </section>
</mat-card>
<div class="white_overlay"></div>
